flows.json
[{"id":"4a234b220fdb6f4e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b1b11140.4e4ef","type":"inject","z":"4a234b220fdb6f4e","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"4a234b220fdb6f4e","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"2a6ae5a39b7294bf","type":"ibmiot in","z":"4a234b220fdb6f4e","authentication":"apiKey","apiKey":"bced5268464bd4d9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1","applicationId":"","deviceType":"device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":380,"wires":[["c832a03ea84afad8","23ceb0426a58205d","4dc6d7096585d12c","04417b224fd5e1de"]]},{"id":"c832a03ea84afad8","type":"debug","z":"4a234b220fdb6f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"23ceb0426a58205d","type":"function","z":"4a234b220fdb6f4e","name":"humidity","func":"global.set('h', msg.payload.humidity)\nmsg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":560,"wires":[["12077315e3c56c2d","2504a69c44b4f55e"]]},{"id":"4dc6d7096585d12c","type":"function","z":"4a234b220fdb6f4e","name":"moisture","func":"global.set('m',msg.payload.moisture)\nmsg.payload = msg.payload.moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["7f5599234308530a"]]},{"id":"12077315e3c56c2d","type":"debug","z":"4a234b220fdb6f4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":580,"wires":[]},{"id":"2504a69c44b4f55e","type":"ui_gauge","z":"4a234b220fdb6f4e","name":"","group":"41fd99975e740274","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":750,"y":520,"wires":[]},{"id":"7f5599234308530a","type":"ui_chart","z":"4a234b220fdb6f4e","name":"","group":"41fd99975e740274","order":0,"width":0,"height":0,"label":"moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":660,"wires":[[]]},{"id":"04417b224fd5e1de","type":"function","z":"4a234b220fdb6f4e","name":"temprature","func":"global.set('t',msg.payload.temprature)\nmsg.payload = msg.payload.temprature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":740,"wires":[["7bbfb84040c2a07b"]]},{"id":"7bbfb84040c2a07b","type":"ui_gauge","z":"4a234b220fdb6f4e","name":"","group":"41fd99975e740274","order":2,"width":"5","height":"3","gtype":"gage","title":"temperature","label":"units","format":"celcious","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":950,"y":740,"wires":[]},{"id":"b42a8ed2008fd5e2","type":"http in","z":"4a234b220fdb6f4e","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":250,"y":860,"wires":[["04bfb74087d0f62c"]]},{"id":"36db6a17912753a4","type":"http response","z":"4a234b220fdb6f4e","name":"","statusCode":"","headers":{},"x":1090,"y":860,"wires":[]},{"id":"04bfb74087d0f62c","type":"function","z":"4a234b220fdb6f4e","name":"SENSOR","func":"msg.payload = {\n    \"temprature\": global.get('t'),\n    \"humidity\" : global.get('h'),\n    \"moisture\" : global.get('m'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":860,"wires":[["36db6a17912753a4"]]},{"id":"e6bc8f1b7cec3c77","type":"http in","z":"4a234b220fdb6f4e","name":"","url":"/button","method":"get","upload":false,"swaggerDoc":"","x":260,"y":960,"wires":[["c8944701c04397cf","7a8c62da0c6ffd20","2a53659659495a5a"]]},{"id":"c8944701c04397cf","type":"http response","z":"4a234b220fdb6f4e","name":"","statusCode":"","headers":{},"x":1100,"y":960,"wires":[]},{"id":"7a8c62da0c6ffd20","type":"debug","z":"4a234b220fdb6f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1080,"wires":[]},{"id":"a2015b47e146eb35","type":"ui_button","z":"4a234b220fdb6f4e","name":"","group":"5b86f594b522c2f8","order":0,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"mon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":680,"y":1260,"wires":[["95aaca2ba2725de0","2a53659659495a5a"]]},{"id":"586add09b752f891","type":"ui_button","z":"4a234b220fdb6f4e","name":"","group":"5b86f594b522c2f8","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"moff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":1340,"wires":[["95aaca2ba2725de0","2a53659659495a5a"]]},{"id":"95aaca2ba2725de0","type":"debug","z":"4a234b220fdb6f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":1300,"wires":[]},{"id":"2a53659659495a5a","type":"ibmiot out","z":"4a234b220fdb6f4e","authentication":"apiKey","apiKey":"bced5268464bd4d9","outputType":"cmd","deviceId":"1","deviceType":"device","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1060,"y":1240,"wires":[]},{"id":"bced5268464bd4d9","type":"ibmiot","name":"IBM IOT API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"41fd99975e740274","type":"ui_group","name":"Water level","tab":"752b552fe2a70fbb","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5b86f594b522c2f8","type":"ui_group","name":"CONTROL","tab":"752b552fe2a70fbb","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"752b552fe2a70fbb","type":"ui_tab","name":"VIT-B dashboard","icon":"dashboard","disabled":false,"hidden":false}]